include LICENSE
include README.md
include AUTHORS.txt
include requirements.txt
recursive-include cmsplugin_contact_plus/templates *
recursive-include cmsplugin_contact_plus/locales *
global-exclude *.orig *.pyc *.log *.swp
