{% if form %}
	<form action="" method="post">{% csrf_token %}
		<ul>
			<li>
				<label>{{ contact.email_label }}</label>
					{{ form.email }}
				{% if form.email.errors %}
					{% for error in form.email.errors %}
						<div class="error">{{ error }}</div>
					{% endfor %}
				{% endif %}
			</li>
			{% if contact.phone_label %}
			<li>
				<label>{{ contact.phone_label }}</label>
					{{ form.phone }}
				{% if form.phone.errors %}
					{% for error in form.phone.errors %}
						<div class="error">{{ error }}</div>
					{% endfor %}
				{% endif %}
			</li>
			{% endif %}
			<li>
				<label>{{ contact.subject_label }}</label>
					{{ form.subject }}
				{% if form.subject.errors %}
					{% for error in form.subject.errors %}
						<div class="error">{{ error }}</div>
					{% endfor %}
				{% endif %}
			</li>
			<li>
				<label>{{ contact.content_label }}</label>
					{{ form.content }}
				{% if form.content.errors %}
					{% for error in form.content.errors %}
						<div class="error">{{ error }}</div>
					{% endfor %}
				{% endif %}
			</li>
			<li>
				<input type="submit"{% if contact.submit %} value="{{ contact.submit }}"{% endif %} />
			</li>
		</ul>
	</form>

{% else %}
	<h2>{{ contact.thanks }}</h2>
{% endif %}
