{# Template source: https://github.com/timothylong/html-email-reset/blob/master/html-email-reset.html #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%" id="body">
	<tr>
		<td align="center" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="600">
				<tr>
					<td align="center" valign="top">

                        <p>New message from the Web</p>

                        <ul>
                        {% for dic in ordered_data %}{% for key, value in dic.items %}
                            <li>{{ key|striptags }}: {% if value|length and 'None' not in value %}{{ value }}{% endif %}{% if not value|length %}{{ value|yesno:"Ja,Nein,Leer" }}{% endif %}</li>
                        {% endfor %}{% endfor %}
                        </ul>

					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
